name: compilation

on:
  push:
    paths:
    - '**.c'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: compile
      run: make CC=clang
    - name: push
      run: |
        git config --global user.email 'liborty@users.noreply.github.com'
        git config --global user.name 'liborty'
        git commit -am "action: C binaries"
        git push
 
