name: test

on: push

jobs:
  build:   
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: test
      run: ./crptest testing > test.log
      shell: bash
 
    - name: commitlog
      run: |
        git commit -am 'action:test.log' test.log

    - name: push
      uses: ad-m/github-push-action@master
      with: 
        github_token: ${{ secrets.GITHUB_TOKEN }}  
