name: test

on: push

jobs:
  build:  
    name: tokencrypt 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1    
      with:
        toolchain: stable 
    - run: |
        cargo install --path crypt --root . symcrypt
        cargo install --path hex2bin --root . hexcheck
        cargo install --path bin2hex --root . hexify
    - run: |
        strip bin/*
        chmod 755 bin/*
        mv bin/* .
        rmdir bin
        sudo cp symcrypt hexcheck hexify keygen ncrpt dcrpt pack unpack crptest packtest /usr/local/bin
        printf "Installed TokenCrypt utilities in /usr/local/bin\n" > test.log
        crptest testing >> test.log
        echo >> test.log
        expimptest testing >> test.log
    
    - name: commitlog
      run: |
        git config user.email "457124+liborty@users.noreply.github.com"
        git config user.name "liborty"
        git commit -am 'action:test.log'

    - name: push
      uses: ad-m/github-push-action@master
      with: 
        github_token: ${{ secrets.GITHUB_TOKEN }}
